<html>
<head>
    <title><%= 'Awesome Cars | ' + title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="hue-1">
        <div class="brand"><a href="/">Awesome Cars</a></div>
        <div class="title"><%= title %></div>
    </header>
    <div class="wrapper">
        <div class="sidebar hue-2">
            <ul>
                <li><a href="/top">Top 100</a></li>
                <li><a href="/class/A">Class A</a></li>
                <li><a href="/class/B">Class B</a></li>
                <li><a href="/class/C">Class C</a></li>
                <li><a href="/class/D">Class D</a></li>
                <li><a href="/class/E">Class E</a></li>
                <li><a href="/class/F">Class F</a></li>
                <li><a href="/featured">Favorite</a></li>
            </ul>
        </div><div class="content">
            <%- include(template) %>
        </div>
    </div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>