<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header class="hue-1">
    <div class="brand">Awesome Cars</div>
    <div class="title">Log In</div>
</header>
<div class="wrapper">
    <form method="post" action="/login">
        <input name="username">
        <input name="password" type="password">
        <button type="submit">Login</button>
    </form>
</div>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>